@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>This is a quiz project for Yung Ching interview.</p>
    <div class="text-start">
        1. Using sqlite 3 as sample database, and populating with some simple estate industry tables.<br/>
        2. Building up with .Net 6 as well as entity framework core.<br/>
        3. Using Open API and following up the RESTful API principal.<br/>
        4. The web site doesn't access DB directly rather than accessing by web api.<br/>
    </div>
</div>
